<!-- #include file="b.htm" -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vuejs</title>
    <script src="../assest/js/vue.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body id="app" style="">
<div class="container ">
    <div class="row" v-bind:style="styleNav">
        <div class="col-md-12">
            <ul class="nav" v-bind:class="{'nav-pills':isB,'nav-tabs':isA}" role="tablist">
                <li class="active" role="presentation"><a href="#">首页</a></li>
                <li class="" role="presentation"><a href="#">我的博客</a></li>
                <li class="" role="presentation"><a href="#">技术文档</a></li>
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <h1 class="bg-primary text-center">{{message}}</h1>
            <input class="form-control" v-model="message">
            <ul class="list-group">
                <li class="list-group-item" v-for="todo in todos">
                    {{todo.text}}
                </li>
            </ul>
            <button class="btn btn-success text-center" v-on:click="reverseMessage">Reverse message</button>
            <ul class="list-group">
                <li class="list-group-item" v-for="subject in subjects">{{subject.name}}</li>
            </ul>

            <span class="bg-primary" v-for="n in 10">{{n}}</span>

            <h2 class="bg-info text-center">表单控件绑定</h2>
            <h3 class="bg-info text-center">复选框</h3>
            <div class="form-group">
                <input type="checkbox" value="boy" id="boy" v-model="checkname">
                <label for="boy">boy</label>
                <input type="checkbox" value="middle" id="middle" v-model="checkname">
                <label for="middle">middle</label>
                <input type="checkbox" value="girl" id="girl" v-model="checkname">
                <label for="girl">girl</label>
                <hr>
                <span >多选{{checkname |json }}</span>
            </div>
            <h3 class="bg-primary text-center">单选框</h3>
            <input type="radio" id="one" value="one" v-model="picked">
            <label for="one">one</label>
            <input type="radio" id="two" value="two" v-model="picked">
            <label for="two">two</label>
            <br>
            <span>单选：{{picked}}</span>
            <hr>
            <h3>选择框</h3>
            <select id="select" v-model="selected" multiple>
                <option selected>A</option>
                <option value="爱">B</option>
                <option value="我">C</option>
            </select>
            <span>选择框：{{selected | json}}</span>
            <input v-model="msg">
            <button class="btn btn-primary">{{msg}}</button>
        </div>
        <div class="col-md-6">
            <h1 class="bg-danger text-center">TEST VUE.JS</h1>
            <div class="form-group">
                <label for="newTodo">vue.js</label>
                <input class="form-control" id="newTodo" v-model="newTodo" v-on:keyup="addTodo">

            </div>

            <h2>{{newTodo}}</h2>
            <ul class="list-group">
                <li class="list-group-item" v-for="todo in todos">
                    <span>{{ todo.text }}</span>
                    <button class=" btn btn-danger btn-xs" v-on:click="removeTodo($index)">X</button>
                </li>
            </ul>
            <a class="btn btn-warning" v-bind:href="url">百度</a></p>
            <p class="bg-primary text-center" v-if="greeting">曲终人散~~{{sex}}</p>
        </div>

    </div>


</div>
<div class="footer bg-danger" v-bind:style="styleFooter">
    <p class="text-center" style="padding-top:20px">一切解释权由@water.com所有</p>
</div>
</body>
<script src="./ajs/index.js"></script>
</html>